<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>SNMessenger Lite</string>
	<key>CFBundleExecutable</key>
	<string>SNMessengerPrefs</string>
	<key>CFBundleIdentifier</key>
	<string>com.nguyenasang.snmessengerprefs</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>vi</string>
	</array>
	<key>CFBundleName</key>
	<string>SNMessenger</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.4</string>
	<key>CFBundleVersion</key>
	<string>2.2.1</string>
	<key>MinimumOSVersion</key>
	<string>15.0</string>
	<key>NSPrincipalClass</key>
	<string>SNRootListController</string>
</dict>
</plist>
